.header{
	margin-bottom: 170px;
	height: 20%;
}
p{
	margin-left: 25px;
}
.input{
	margin: 25px;
	width: 350px;
}
.footer{
	margin-top: 100px;
}
#onetime{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
