#heading{
	text-align: center;
	width:100%;
	padding-top:50px;
	/*margin-left: 130px;*/
	background-color:#f0f482;
	color:#131992;
	border-bottom: solid 6px white;
}


#tsubuyaki-container{
	text-align: center;
	height:400px;
	padding-top: 50px;
	background-color:#c9c8c8;
	/*background-color:#C96576;*/
	/*margin-left: 130px;*/
	width:100%;

	

}

#tsubuyaki-container h1{
	color:#131992;
}

#tsubuyaki-container p{
	padding-bottom: 30px;
	color:#131992;

}

#tsubuyaki{
	height:100px;
	width:200px;
	/*background-color: transparent;*/

}

footer{
	text-align:right;
}


.logo{
	margin-left:20px;
	width: 100px;
	height:80px;
}


.header-img{

	position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  /*bottom: 0px;*/
  margin: auto;

	width:150px;
	height:80px;
	/*margin-left: 450px;*/

}








.checkbox01-input{
  display: none;
}
.checkbox01-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.checkbox01-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /*width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;*/
}
.checkbox01-input:checked + .checkbox01-parts{
  color: #009a9a;
}
.checkbox01-input:.checkbox01-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}


.tomtom{
	width:150px;
	height:40px;
	margin-bottom: 10px;
	margin-right:10px;
	border-bottom: solid 4px #82c250;
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}











.individual{
	width:150px;
	height:40px;
	margin-bottom: 10px;
	margin-right:10px;
	border-bottom: solid 4px #82c250;
	
    
}


.individual:hover{
cursor: pointer;

} 


.individual:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}


.search{
	width:200px;
	height: 40px;
	margin-top:40px;
	border-bottom: solid 4px #5f9d2e;
}

.search:hover{
cursor: pointer;

} 

.search:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}